@mixin font($fw, $fz, $lh, $ls) {
   font-weight: $fw;
   font-size: $fz;
   line-height: $lh;
   letter-spacing: $ls;
}

@mixin flex($type, $jc, $ai) {
   display: $type;
   justify-content: $jc;
   align-items: $ai;
}

@mixin mobile-375 {
   @media screen and (min-width: 375px) {
      @content;
   }
}

@mixin tablet-768 {
   @media screen and (min-width: 768px) {
      @content;
   }
}

@mixin tablet-1024 {
   @media screen and (min-width: 1024px) {
      @content;
   }
}

@mixin desktop-1440 {
   @media screen and (min-width: 1440px) {
      @content;
   }
}

@mixin desktop-1920 {
   @media screen and (min-width: 1920px) {
      @content;
   }
}

@mixin retina {
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      @content;
   }
}
